.topic {
  background: #fff;
  top: 66px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.screen {
  padding: 50px;
  text-align: center;
}

.screen:nth-child(odd) {
  background: #90c4c1;
}

.screen:nth-child(even) {
  background: lightblue;
}